
<% if logged_in? %>
  <div class="user-show">
    <aside>
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="content">
      <div class="form-container">
        <div class="jumbotron">
          <div>
            <h3>Micropost Feed</h3>
            <%= render 'shared/feed' %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="content">
    <div class="form-container">
      <div class="center jumbotron">
        <h1>Welcome to the X-Sample</h1>
        <h2>This is the home page.</h2>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
        <p>Already have an account? <%= link_to "Log in!", login_path %></p>
      </div>
    </div>
  </div>
<% end %>