<% provide(:title, 'Reset password') %>

<div class="content">
  <div class="form-container">
    <div class="center jumbotron">
      <h1>RESET PASSWORD</h1>
      <%= form_for(@user, url: password_reset_path(params[:id]), data: { turbo: false }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= hidden_field_tag :email, @user.email %>

        <div class="mb-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, "Repeat your password" %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.submit "Update password", class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


